# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: How We Enable
email: cferman@redhat.com
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: 
github_username:  chadhellyea
github_fork_url: "https://github.com/chadhellyea/HowWeEnable"

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-archives

sass:
  style: compressed

collections:
  guides:
    output: true
  redirects:
    output: true
    permalink: /:path/
  versions:
    output: true
    permalink: /version/:path

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/


asciidoctor:
  base_dir: :docdir
  safe: unsafe
  attributes:
    source-highlighter: highlightjs
    sectanchors: ''
    icons: font
    outfilesuffix: ''

# Pages permalink
defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
      type: "guides" # previously `post` in Jekyll 2.2.
    values:
      layout: "guides"
      permalink: /guides/:name
  -
    scope:
      path: "" # an empty string here means all files in the project
      type: "versions"
    values:
      layout: "guides"
      permalink: /version/:path
  -
    scope:
      path: "" # an empty string here means all files in the project
      type: "posts"
    values:
      permalink: /blog/:title/
  -
    scope:
      path: "" # an empty string here means all files in the project
      type: redirects
    values:
      layout: redirect
